<h2>Cadastrar meu novo número</h2>
<p>Cadastre o seu novo número para que as pessoas possam lhe achar :)</p>
<div id="add_form">
  <% remote_form_for(PhoneEntry.new, :html => { :class => 'f_form' }) do |f| %>
    <p>
      <%= f.label(:old_ddd, 'Número Antigo') %>
      <%= f.text_field(:old_ddd, :size => 2, :maxlength => 2, :class => 'f_text') %>
      <%= f.text_field(:old_number, :size => 8, :maxlength => 8, :class => 'f_text') %>
    </p>
    <p>
      <%= f.label(:new_ddd, 'Novo Número') %>
      <%= f.text_field(:new_ddd, :size => 2, :maxlength => 2, :class => 'f_text') %>
      <%= f.text_field(:new_number, :size => 8, :maxlength => 8, :class => 'f_text') %>
    </p>
    <p>
      <%= f.label(:name, 'Nome para Identificação') %>
      <%= f.text_field(:name, :size => 20, :maxlength => 20, :class => 'f_text') %>
    </p>
    <p>
      <% session_id = rand(10_000) %>
      <img src="http://captchator.com/captcha/image/<%= session_id -%>" /><br/>
      <input name="new_chunky" type="hidden" value="<%= session_id -%>" />
      <input name="new_bacon" type="text" size="10" class="f_text" />
    </p>
    <span id="f_add_submit">
      <%= submit_tag('Cadastrar', :id => 'save_phone_entry') %>
    </span>
    <span id="f_add_submit_wait" style="display: none">Aguarde enquanto processamos...</span>
  <% end %>
  <% if flash[:notice] -%>
    <p id="add_results"><%= flash[:notice] %></p>
  <% end -%>
</div>
